<div class="profile_form_group">
    <label for="{{name}}">
        {{label}}
        <span class="error_text"></span>
    </label>
    <input type="{{type}}" name="{{name}}" value="{{value}}" {{editable}}>
</div>
